body {
    background-color: #003049;
}

.header {
    background-color: #ddc385;
    border-radius: 2rem;
    width: 67%;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
button {
    color: #ddc385;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-family: 'David Libre', serif;
    overflow-wrap: break-word;
}

h2 {
    font-family: 'Inter', sans-serif;
}

.brand-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}