body {
    background-color: #003049;
}

.header {
    background-color: #ddc385;
    border-radius: 2rem;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2,
button {
    color: #ddc385;
    text-align: center;
}

h1 {
    font-size: 5rem;
    font-family: 'Belleza', sans-serif;
    overflow-wrap: break-word;
    margin-top: 3rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

h2 {
    font-family: 'Inter', sans-serif;
    /* TODO: make this text lighter */
    margin-top: 1rem;
}

.brand-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.made-with {
    color: #ddc385;
    font-family: 'Inter', sans-serif;
    position: fixed;
    bottom: 0;
    margin-bottom: 1rem;
}