<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="static/style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Inter:wght@659&display=swap');</style>
    <title>Mutual FUN</title>
</head>
<body>
    <h2>Your business name is:</h2>
    <h1 class="company-name">{{ company_name }}</h1>
</body>
</html>